# IntelliJ IDEA
.idea/
*.iml
*.iws

# Maven
target/
*.log
!.mvn/wrapper/maven-wrapper.jar

# Betriebssystemspezifische Dateien
.DS_Store
Thumbs.db

# Java und andere IDE-spezifische Dateien
*.class
*.war
*.jar
*.ear
*.swp

# Logs
logs/
nohup.out

# Spring Boot spezifisch
BOOT-INF/
META-INF/
org/

# Datenbanken / Caches
*.h2.db
*.mv.db
*.sqlite
*.db
*.lock
*.ldb
data/


# Java- und Maven-Wrapper
.mvn/
mvnw
mvnw.cmd

# Lombok Cache
.lombok/

# SonarQube / Testabdeckung
.sonar/
.coverage/
